.City-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 18px;
}

.City-card img {
  width: 180px;
  height: 150px;
}

.City-card:hover {
  cursor: pointer;
  border: 2px solid rgb(136, 136, 136);
}
